<div class="site-wrap">
    <div class="site-blocks-cover overlay" style="background-image: url('http://localhost:8000/static/website/images/hero_1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12" data-aos="fade">
            <h1 style="padding-bottom: 5px;margin-left: -18px;font-size: 40px">Encontre Projectos/Freelancers</h1>
            <form action="#">
              <div class="row mb-3">
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-6 mb-3 mb-md-0 no-padding">
                      <input type="text" style="min-width: 100%;" class="mr-3 form-control border-0 px-4" placeholder="Titulo do trabalho, agente ">
                    </div>

                    <div class="col-md-6 mb-3 mb-md-0 no-padding" style="border-left: 1px solid #eee">
                      <div class="input-wrap">
                        <span class="icon icon-room"></span>
                        <input style="border: 1px solid #000" type="text" class="form-control form-control-block search-input border-0 px-4" id="autocomplete" placeholder="Cidade, provincia ou regiao" onFocus="geolocate()">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-2 no-padding">
                  <input type="submit" class="btn btn-search btn-primary btn-block" value="Procurar">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="small" style="margin-left: -15px">categorias mais vistas: <a href="#" class="category">#Website</a> <a href="#" class="category">#Marketing</a></p>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Categorias Populares</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="100">
            <a href="#" class="h-100 feature-item">
              <span class="d-block icon flaticon-calculator mb-3 text-primary"></span>
              <h2>Contabilidade / Financa</h2>
              <span class="counting">10,391</span>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="200">
            <a href="#" class="h-100 feature-item">
              <span class="d-block icon flaticon-wrench mb-3 text-primary"></span>
              <h2>Mecanica</h2>
              <span class="counting">192</span>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="300">
            <a href="#" class="h-100 feature-item">
              <span class="d-block icon flaticon-worker mb-3 text-primary"></span>
              <h2>Engenharia Civil</h2>
              <span class="counting">1,021</span>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="400">
            <a href="#" class="h-100 feature-item">
              <span class="d-block icon flaticon-telecommunications mb-3 text-primary"></span>
              <h2>Telecomunicacoes</h2>
              <span class="counting">1,219</span>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="500">
            <a href="#" class="h-100 feature-item">
              <span class="d-block icon flaticon-stethoscope mb-3 text-primary"></span>
              <h2>Saúde</h2>
              <span class="counting">482</span>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="600">
            <a href="#" class="h-100 feature-item">
              <span class="d-block icon flaticon-computer-graphic mb-3 text-primary"></span>
              <h2>Design, Arte &amp; Multimedia</h2>
              <span class="counting">5,409</span>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="700">
            <a href="#" class="h-100 feature-item">
              <span class="d-block icon flaticon-trolley mb-3 text-primary"></span>
              <h2>Logistica</h2>
              <span class="counting">291</span>
            </a>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="800">
            <a href="#" class="h-100 feature-item">
              <span class="d-block icon flaticon-restaurant mb-3 text-primary"></span>
              <h2>Restaurante</h2>
              <span class="counting">329</span>
            </a>
          </div>
        </div>

      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
            <h2 class="mb-5 h3">Projectos Recentes</h2>

            <div class="rounded jobs-wrap">
              <a href="job-single.html" class="job-item d-block d-md-flex align-items-center">
                <div class="company-logo blank-logo text-center text-md-left pl-3">
                  <img src="http://localhost:8000/static/website/images/vodacom.png" alt="Image" class="img-fluid mx-auto">
                </div>
                <div class="job-details h-100">
                  <div class="p-3 align-self-center">
                    <h3>Designer Grafico</h3>
                    <div class="d-block d-lg-flex">
                      <div class="mr-3"><span class="icon-suitcase mr-1"></span> Marketing Digital</div>
                      <div class="mr-3"><span class="icon-room mr-1"></span> Maputo</div>
                      <div><span class="icon-money mr-1"></span> 15.000,00 &mdash; 20.000,00</div>
                    </div>
                  </div>
                </div>
                <div class="job-category align-self-center">
                  <div class="p-3">
                    <span class="text-info p-2 rounded border border-info">Visualizar</span>
                  </div>
                </div>
              </a>

              <a href="job-single.html" class="job-item d-block d-md-flex align-items-center">
                <div class="company-logo blank-logo text-center text-md-left pl-3">
                  <img src="http://localhost:8000/static/website/images/movitel.png" alt="Image" class="img-fluid mx-auto">
                </div>
                <div class="job-details h-100">
                  <div class="p-3 align-self-center">
                    <h3>Desenvolvedor Java</h3>
                    <div class="d-block d-lg-flex">
                      <div class="mr-3"><span class="icon-suitcase mr-1"></span> Software</div>
                      <div class="mr-3"><span class="icon-room mr-1"></span> Trabalho Remoto</div>
                      <div><span class="icon-money mr-1"></span> 55.000,00</div>
                    </div>
                  </div>
                </div>
                <div class="job-category align-self-center">
                  <div class="p-3">
                    <span class="text-info p-2 rounded border border-info">Visualizar</span>
                  </div>
                </div>
              </a>

              <a href="job-single.html" class="job-item d-block d-md-flex align-items-center">
                <div class="company-logo blank-logo text-center text-md-left pl-3">
                  <img src="http://localhost:8000/static/website/images/fnb.jpg" alt="Image" class="img-fluid mx-auto">
                </div>
                <div class="job-details h-100">
                  <div class="p-3 align-self-center">
                    <h3>Create Digital Content</h3>
                    <div class="d-block d-lg-flex">
                      <div class="mr-3"><span class="icon-suitcase mr-1"></span> Graphic Design</div>
                      <div class="mr-3"><span class="icon-room mr-1"></span> Anywhere</div>
                      <div><span class="icon-money mr-1"></span> 5.000,00 &mdash; 8.000,00</div>
                    </div>
                  </div>
                </div>
                <div class="job-category align-self-center">
                  <div class="p-3">
                    <span class="text-info p-2 rounded border border-info">Visualizar</span>
                  </div>
                </div>
              </a>

              <a href="job-single.html" class="job-item d-block d-md-flex align-items-center">
                <div class="company-logo blank-logo text-center text-md-left pl-3">
                  <img src="http://localhost:8000/static/website/images/vodacom.png" alt="Image" class="img-fluid mx-auto">
                </div>
                <div class="job-details h-100">
                  <div class="p-3 align-self-center">
                    <h3>Assistente Virtual (ChatBot)</h3>
                    <div class="d-block d-lg-flex">
                      <div class="mr-3"><span class="icon-suitcase mr-1"></span> Senior Enginner</div>
                      <div class="mr-3"><span class="icon-room mr-1"></span> Trabalho Remoto</div>
                      <div><span class="icon-money mr-1"></span> 35.000,00 &mdash; 40.000,00</div>
                    </div>
                  </div>
                </div>
                <div class="job-category align-self-center">
                  <div class="p-3">
                    <span class="text-info p-2 rounded border border-info">Visualizar</span>
                  </div>
                </div>
              </a>

              <a href="job-single.html" class="job-item d-block d-md-flex align-items-center">
                <div class="company-logo blank-logo text-center text-md-left pl-3">
                  <img src="http://localhost:8000/static/website/images/logo_2.png" alt="Image" class="img-fluid mx-auto">
                </div>
                <div class="job-details h-100">
                  <div class="p-3 align-self-center">
                    <h3>Telecommunication Manager</h3>
                    <div class="d-block d-lg-flex">
                      <div class="mr-3"><span class="icon-suitcase mr-1"></span> Project Manager</div>
                      <div class="mr-3"><span class="icon-room mr-1"></span> Maputo</div>
                    </div>
                  </div>
                </div>
                <div class="job-category align-self-center">
                  <div class="p-3">
                    <span class="text-info p-2 rounded border border-info">Visualizar</span>
                  </div>
                </div>
              </a>


            </div>

            <div class="col-md-12 text-left mt-5" style="padding-left: 0">
              <a href="#" class="rounded">Mais projectos <span class="icon-arrow-right"></span> </a>
            </div>
          </div>

          <!--div class="col-md-4 block-16" data-aos="fade-up" data-aos-delay="200">
            <div class="d-flex mb-0">
              <h2 class="mb-5 h3 mb-0">Featured Jobs</h2>
              <div class="ml-auto mt-1"><a href="#" class="owl-custom-prev">Prev</a> / <a href="#" class="owl-custom-next">Next</a></div>
            </div>

            <div class="nonloop-block-16 owl-carousel">

              <div class="border rounded p-4 bg-white">
                <h2 class="h5">Restaurant Crew</h2>
                <p><span class="border border-warning rounded p-1 px-2 text-warning">Freelance</span></p>
                <p>
                  <span class="d-block"><span class="icon-suitcase"></span> Resto Bar</span>
                  <span class="d-block"><span class="icon-room"></span> Florida</span>
                  <span class="d-block"><span class="icon-money mr-1"></span> $55000 &mdash; 70000</span>
                </p>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi neque fugit tempora, numquam voluptate veritatis odit id, iste eum culpa alias, ut officiis omnis itaque ad, rem sunt doloremque molestias.</p>
              </div>

              <div class="border rounded p-4 bg-white">
                <h2 class="h5">Javascript Fullstack Developer</h2>
                <p><span class="border border-warning rounded p-1 px-2 text-warning">Freelance</span></p>
                <p>
                  <span class="d-block"><span class="icon-suitcase"></span> Resto Bar</span>
                  <span class="d-block"><span class="icon-room"></span> Florida</span>
                  <span class="d-block"><span class="icon-money mr-1"></span> $55000 &mdash; 70000</span>
                </p>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus accusamus necessitatibus praesentium voluptate natus excepturi rerum, autem. Magnam laboriosam, quam sapiente laudantium iure sit ea! Tenetur, quasi, praesentium. Architecto, eum.</p>
              </div>

              <div class="border rounded p-4 bg-white">
                <h2 class="h5">Assistant Brooker, Real Estate</h2>
                <p><span class="border border-warning rounded p-1 px-2 text-warning">Freelance</span></p>
                <p>
                  <span class="d-block"><span class="icon-suitcase"></span> Resto Bar</span>
                  <span class="d-block"><span class="icon-room"></span> Florida</span>
                  <span class="d-block"><span class="icon-money mr-1"></span> $55000 &mdash; 70000</span>
                </p>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus esse, quam consectetur ipsum quibusdam ullam ab nesciunt, doloribus voluptatum neque iure perspiciatis vel vero illo consequatur facilis, fuga nobis corporis.</p>
              </div>

              <div class="border rounded p-4 bg-white">
                <h2 class="h5">Telecommunication Manager</h2>
                <p><span class="border border-warning rounded p-1 px-2 text-warning">Freelance</span></p>
                <p>
                  <span class="d-block"><span class="icon-suitcase"></span> Resto Bar</span>
                  <span class="d-block"><span class="icon-room"></span> Florida</span>
                  <span class="d-block"><span class="icon-money mr-1"></span> $55000 &mdash; 70000</span>
                </p>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at ipsum commodi hic, cum esse asperiores libero molestiae, perferendis consectetur assumenda iusto, dolorem nemo maiores magnam illo laborum sit, dicta.</p>
              </div>

            </div-->

          </div>
        </div>
      </div>
</div>

<div class="site-blocks-cover overlay inner-page"
     style="background-image: url('http://localhost:8000/static/website/images/hero_1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6 text-center" data-aos="fade">
            <h1 class="h3 mb-0">Projectos Online</h1>
            <p class="h3 text-white mb-5">Esperam por você</p>
            <p><a href="#" class="btn btn-outline-info py-3 px-4">Buscar projecto</a> <a href="#" class="btn btn-info py-3 px-4">Publicar projecto</a></p>
          </div>
        </div>
      </div>
</div>

<div class="site-section site-block-feature">
      <div class="container">

        <div class="text-center mb-5 section-heading">
          <h2>Como Funciona?</h2>
        </div>

        <div class="d-block d-md-flex border-bottom">
          <div class="text-center p-4 item border-right" data-aos="fade">
            <span class="flaticon-worker display-3 mb-3 d-block text-primary"></span>
            <h2 class="h4">Publique um Projecto</h2>
            <p>Publique seu projecto para milhares de profissionais, você irá receber propostas de freelancers talentosos em poucos minutos.</p>
          </div>

          <div class="text-center p-4 item border-right" data-aos="fade">
            <span class="flaticon-wrench display-3 mb-3 d-block text-primary"></span>
            <h2 class="h4">Contrate</h2>
            <p>Reveja o histórico de projecto, feedback de clientes e portfólio para limitar os candidatos. Então faça uma entrevista pelo chat e escolha o melhor.</p>
          </div>

          <div class="text-center p-4 item" data-aos="fade">
              <span class="flaticon-stethoscope display-3 mb-3 d-block text-primary"></span>
              <h2 class="h4">Pague com Segurança</h2>
              <p>Com o pagamento seguro do MozLancers, o pagamento será repassado para o freelancer somente quando o projeto estiver concluído.</p>
            </div>

        </div>

      </div>
</div>

<div class="site-section block-15 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
              <h2>Freelancers com melhor classificação</h2>
            </div>
          </div>

          <div class="nonloop-block-15 owl-carousel">

              <div class="media-with-text" data-aos="fade-up" data-aos-delay="100">
                  <div class="card-profile">
                      <div class="top-icons" style="text-align: right;">
						  <span><b>120MZN/h</b></span>
                      </div>

                      <div class="profile">
                        <img src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixlib=rb-0.3.5&s=9358d797b2e1370884aa51b0ab94f706&auto=format&fit=crop&w=200&q=80%20500w" class="thumbnail">
                        <div class="check">
							<i class="fa fa-check"></i>
						</div>
                        <h3 class="name">Silvia Marrime</h3>
						  <span class="text-center" style="display: block">Designer Grafico</span>
						  <!-- Rating -->
						  <div class="freelancer-rating text-center">
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
						  </div>
                      </div>

					  <div class="freelancer-details text-center" style="margin-top: 10px;">
						  <div class="freelancer-details-list">
						  	<ul>
								<li>Membro desde: <strong>29-06-2019</strong></li>
							</ul>
						  </div>
						  <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Ver Perfil <i class="icon-material-outline-arrow-right-alt"></i></a>
					  </div>
                  </div>
              </div>

              <div class="media-with-text" data-aos="fade-up" data-aos-delay="120">
                  <div class="card-profile">
                      <div class="top-icons" style="text-align: right;">
						  <span><b>120MZN/h</b></span>
                      </div>

                      <div class="profile">
                        <img src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixlib=rb-0.3.5&s=9358d797b2e1370884aa51b0ab94f706&auto=format&fit=crop&w=200&q=80%20500w" class="thumbnail">
                        <div class="check">
							<i class="fa fa-check"></i>
						</div>
                        <h3 class="name">Silvia Marrime</h3>
						  <span class="text-center" style="display: block">Designer Grafico</span>
						  <!-- Rating -->
						  <div class="freelancer-rating text-center">
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
						  </div>
                      </div>

					  <div class="freelancer-details text-center" style="margin-top: 10px;">
						  <div class="freelancer-details-list">
						  	<ul>
								<li>Membro desde: <strong>29-06-2019</strong></li>
							</ul>
						  </div>
						  <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Ver Perfil <i class="icon-material-outline-arrow-right-alt"></i></a>
					  </div>
                  </div>
              </div>

              <div class="media-with-text" data-aos="fade-up" data-aos-delay="140">
                  <div class="card-profile">
                      <div class="top-icons" style="text-align: right;">
						  <span><b>120MZN/h</b></span>
                      </div>

                      <div class="profile">
                        <img src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixlib=rb-0.3.5&s=9358d797b2e1370884aa51b0ab94f706&auto=format&fit=crop&w=200&q=80%20500w" class="thumbnail">
                        <div class="check">
							<i class="fa fa-check"></i>
						</div>
                        <h3 class="name">Silvia Marrime</h3>
						  <span class="text-center" style="display: block">Designer Grafico</span>
						  <!-- Rating -->
						  <div class="freelancer-rating text-center">
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
						  </div>
                      </div>

					  <div class="freelancer-details text-center" style="margin-top: 10px;">
						  <div class="freelancer-details-list">
						  	<ul>
								<li>Membro desde: <strong>29-06-2019</strong></li>
							</ul>
						  </div>
						  <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Ver Perfil <i class="icon-material-outline-arrow-right-alt"></i></a>
					  </div>
                  </div>
              </div>

              <div class="media-with-text" data-aos="fade-up" data-aos-delay="160">
                  <div class="card-profile">
                      <div class="top-icons" style="text-align: right;">
						  <span><b>120MZN/h</b></span>
                      </div>

                      <div class="profile">
                        <img src="https://images.unsplash.com/photo-1484186139897-d5fc6b908812?ixlib=rb-0.3.5&s=9358d797b2e1370884aa51b0ab94f706&auto=format&fit=crop&w=200&q=80%20500w" class="thumbnail">
                        <div class="check">
							<i class="fa fa-check"></i>
						</div>
                        <h3 class="name">Silvia Marrime</h3>
						  <span class="text-center" style="display: block">Designer Grafico</span>
						  <!-- Rating -->
						  <div class="freelancer-rating text-center">
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
							  <span class="fa fa-star checked"></span>
						  </div>
                      </div>

					  <div class="freelancer-details text-center" style="margin-top: 10px;">
						  <div class="freelancer-details-list">
						  	<ul>
								<li>Membro desde: <strong>29-06-2019</strong></li>
							</ul>
						  </div>
						  <a href="single-freelancer-profile.html" class="button button-sliding-icon ripple-effect">Ver Perfil <i class="icon-material-outline-arrow-right-alt"></i></a>
					  </div>
                  </div>
              </div>
            </div>
        </div>
</div>