<form class="login100-form validate-form flex-sb flex-w">
    <span class="txt1 p-b-11">Senha Actual</span>
    <div class="wrap-input100 validate-input m-b-36 input-nome" data-validate="Senha actual é obrigatório">
        <input class="input100" type="text" name="senha_actual">
        <span class="focus-input100"></span>
    </div>
    <span class="txt1 p-b-11">Nova Senha</span>
    <div class="wrap-input100 validate-input m-b-32" data-validate="Senha é obrigatória">
                    <span class="btn-show-pass">
                        <i class="fa fa-eye"></i>
                    </span>
        <input class="input100" type="password" name="nova_senha">
        <span class="focus-input100"></span>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn" type="submit">
            Salvar
        </button>
    </div>

</form>