<section class="container" style="min-width: 80%;margin-top:8%">
    <h2 class="title">Fotografos <i>Moçambicanos</i></h2>
    <p class="text-center">Veja abaixo a lista dos Fotógrafos com mais visualizações nas fotos. <a href="/login">Tornar fotógrafo</a> grátis</p>
    <br/><br/>
    <div class="row">
        <div class="d-flex col-md-3 h-100 card-fotografo">
            <div class="myback-img">
                <img src="https://images.pexels.com/photos/907267/pexels-photo-907267.jpeg?auto=compress&cs=tinysrgb&h=350" class="">
            </div>
            <div class="profile-img">
                <div class="avatar-profile">
                    <img src="http://localhost:8000/static/website/img/me.jpg">
                </div>
            </div>
            <div class="profile-title">
                <a href="http://localhost:8000/@anisiomarrime">
                    <h3>@Anísio Marrime</h3>
                </a>
            </div>
        </div>

        <div class="d-flex col-md-3 h-100 card-fotografo">
                <div class="myback-img">
                    <img src="http://localhost:8000/static/website/img/galery/3.jpg" class="">
                </div>
                <div class="profile-img">
                    <div class="avatar-profile">
                        <img src="https://images.pexels.com/photos/774095/pexels-photo-774095.jpeg?auto=compress&cs=tinysrgb&h=350">
                    </div>
                </div>
                <div class="profile-title">
                    <a href="http://localhost:8000/@janemarrime">
                        <h3>@Jane Marrime</h3>
                    </a>
                </div>
            </div>

            <div class="d-flex col-md-3 h-100 card-fotografo">
                    <div class="myback-img">
                        <img src="https://images.pexels.com/photos/843256/pexels-photo-843256.jpeg?auto=compress&cs=tinysrgb&h=350" class="">
                    </div>
                    <div class="profile-img">
                        <div class="avatar-profile">
                            <img src="https://images.pexels.com/photos/375880/pexels-photo-375880.jpeg?auto=compress&cs=tinysrgb&h=350">
                        </div>
                    </div>
                    <div class="profile-title">
                        <a href="http://localhost:8000/@janemarrime">
                            <h3>@Python Marrime</h3>
                        </a>
                    </div>
                </div>

                <div class="d-flex col-md-3 h-100 card-fotografo">
                        <div class="myback-img">
                            <img src="https://images.pexels.com/photos/119972/pexels-photo-119972.jpeg?auto=compress&cs=tinysrgb&h=350" class="">
                        </div>
                        <div class="profile-img">
                            <div class="avatar-profile">
                                <img src="https://images.pexels.com/photos/846741/pexels-photo-846741.jpeg?auto=compress&cs=tinysrgb&h=350">
                            </div>
                        </div>
                        <div class="profile-title">
                            <a href="http://localhost:8000/@janemarrime">
                                <h3>@Jona's Marrime</h3>
                            </a>
                        </div>
                    </div>
                    
                    <div class="d-flex col-md-3 h-100 card-fotografo">
                            <div class="myback-img">
                                <img src="http://localhost:8000/static/website/img/galery/36.jpeg" class="">
                            </div>
                            <div class="profile-img">
                                <div class="avatar-profile">
                                    <img src="https://images.pexels.com/photos/372042/pexels-photo-372042.jpeg?auto=compress&cs=tinysrgb&h=350">
                                </div>
                            </div>
                            <div class="profile-title">
                                <a href="http://localhost:8000/@janemarrime">
                                    <h3>@Nelson Marrime</h3>
                                </a>
                            </div>
                        </div>

                        <div class="d-flex col-md-3 h-100 card-fotografo">
                                <div class="myback-img">
                                    <img src="https://images.pexels.com/photos/734725/pexels-photo-734725.jpeg?auto=compress&cs=tinysrgb&h=350" class="">
                                </div>
                                <div class="profile-img">
                                    <div class="avatar-profile">
                                        <img src="https://i0.wp.com/tricksmaze.com/wp-content/uploads/2017/04/Stylish-Girls-Profile-Pictures-36.jpg?resize=300%2C300&ssl=1">
                                    </div>
                                </div>
                                <div class="profile-title">
                                    <a href="http://localhost:8000/@janemarrime">
                                        <h3>@Sarah Marrime</h3>
                                    </a>
                                </div>
                            </div>

                            <div class="d-flex col-md-3 h-100 card-fotografo">
                                    <div class="myback-img">
                                        <img src="http://localhost:8000/static/website/img/galery/30.jpeg" class="">
                                    </div>
                                    <div class="profile-img">
                                        <div class="avatar-profile">
                                            <img src="https://images.pexels.com/photos/326559/pexels-photo-326559.jpeg?auto=compress&cs=tinysrgb&h=350">
                                        </div>
                                    </div>
                                    <div class="profile-title">
                                        <a href="http://localhost:8000/@janemarrime">
                                            <h3>@David Marrime</h3>
                                        </a>
                                    </div>
                                </div>
    </div>
</section>