    <!-- ============================ Counter Start ================================== -->
    <section class="image-bg default-bg" style="background:#2259f7 url(assets/img/pattern.png) repeat;">
				<div class="container">
					<div class="row">
						<div class="col text-center">
							<div class="sec-heading light mx-auto">
								<h2>Our Success & Award</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
					</div>
					<div class="row">

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="count-box text-center">
								<h2 class="count">7842</h2>
								<h5>Total Jobs</h5>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="count-box text-center">
								<h2 class="count">320</h2>
								<h5>Total Employer</h5>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="count-box text-center">
								<h2 class="count">710</h2>
								<h5>Winning Award</h5>
							</div>
						</div>

						<div class="col-lg-3 col-md-3 col-sm-6">
							<div class="count-box text-center">
								<h2 class="count">30</h2>
								<h5>Year Successfull</h5>
							</div>
						</div>

					</div>

				</div>
			</section>
    <div class="clearfix"></div>
    <!-- ============================ Counter End ================================== -->